@*@model Glossary.Data.Definition*@
@model GlossarySolution.Models.DefinitionModel

@{
    ViewBag.Title = "Details";
}

@*<h2>Details</h2>*@
<h1 class="sub-title">Term Details</h1>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Term)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Term)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TermDefinition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TermDefinition)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DefinitionId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
