@model GlossarySolution.Models.DefinitionModel

@{
    ViewBag.Title = "Details";
}

@*<h2>Details</h2>*@
<h1 class="sub-title">Term Definition Details</h1>

<div>
    <hr />
    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-md-10 control-label">
                @Html.DisplayNameFor(model => model.Term)
            </label>

            <div class="col-md-10">
                @Html.DisplayFor(model => model.Term)
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-10 control-label">
                @Html.DisplayNameFor(model => model.TermDefinition)
            </label>

            <div class="col-md-10">
                @Html.DisplayFor(model => model.TermDefinition)
            </div>
        </div>

        <div class="form-row form-row-buttons">
            <div class="col-md-2">
                <a href="@Url.Action("Edit", "Home", new { id = Model.DefinitionId })" class="btn btn-default btn-block btn-sm">Edit</a>
            </div>
            <div class="col-md-2">
                <a href="@Url.Action("Delete", "Home", new { id = Model.DefinitionId })" class="btn btn-light btn-block btn-sm">Delete</a>
            </div>
            <div class="col-md-2">
                <a href="@Url.Action("Index", "Home")", class="btn btn-light btn-block btn-sm">Index</a>
            </div>
        </div>
    </div>
</div>
<p>
    
    @*@Html.ActionLink("Back to List", "Index")*@
</p>
