@model GlossarySolution.Models.DefinitionModel
@{
    var term = Model?.Term;
    var termDefinition = Model?.TermDefinition;
}

<main role="main" class="container">
    <main class="col-10">
        <div>
            <h1 class="title">A Glossary of Terms</h1>
        </div>
        <p></p>
        <p class="leader"><b>@term</b>&nbsp;&nbsp; @termDefinition</p>
        <div class="bg-white box-shadow index-list rounded">
            <div class="form-row-buttons">
                <a href="/Home/Create" class="btn btn-default">Create</a>
            </div>
            <hr />
            <div class="form-row-buttons">
                @*@Html.ActionLink("A - C", "Contents", new { part = 1 }, new Dictionary<string, object> { { "class", "btn btn-light" } })*@
                <a href="@Url.Action("List", new { part = "abca" })" class="btn btn-light btn-sm">A - C</a>
                <a href="@Url.Action("Contents", new { part = "defd" })" class="btn btn-light btn-sm">D - F</a>
                <a href="@Url.Action("Contents", new { part = "ghig" })" class="btn btn-light btn-sm">G - I</a>
                <a href="@Url.Action("Contents", new { part = "jklj" })" class="btn btn-light btn-sm">J - L</a>
                <a href="@Url.Action("Contents", new { part = "mnom" })" class="btn btn-light btn-sm">M - O</a>
                <a href="@Url.Action("Contents", new { part = "pqrpqr" })" class="btn btn-light btn-sm">P - R</a>
                <a href="@Url.Action("Contents", new { part = "stssts" })" class="btn btn-light btn-sm">S - T</a>
                <a href="@Url.Action("Contents", new { part = "uvwuvw" })" class="btn btn-light btn-sm">U - W</a>
                <a href="@Url.Action("Contents", new { part = "xyzx" })" class="btn btn-light btn-sm">X - Z</a>
                <a href="@Url.Action("Contents", new { part = "0123456789" })" class="btn btn-light btn-sm">0 - 9</a>
            </div>
        </div>
    </main>
    @*@Html.ActionLink("Definitions", "List", "Home")*@
</main>
