@*@model IEnumerable<Glossary.Data.Definition>*@
@model IEnumerable<GlossarySolution.Models.DefinitionModel>

@{
    ViewBag.Title = "Terms";
    var part = (string)ViewData["ListPart"];
    var partDesc = (string)ViewData["ListPartDesc"];
}

<h1 class="sub-title">Index of Terms @(part != null ? partDesc : "")</h1>

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Term)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TermDefinition)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Term)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TermDefinition)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.DefinitionId }) |
                @Html.ActionLink("Details", "Details", new { id = item.DefinitionId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.DefinitionId })
            </td>
        </tr>
    }

</table>


@if (Model.Count() == 0)
{
    <div class="alert alert-warning" role="alert">No Terms found, add some!</div>

    <a href="/Home/Create" class="btn btn-default">Create</a>
}